<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="proyecto1.Properties.Settings.basedatos1ConnectionString"
            connectionString="Host=35.196.1.229;Database=basedatos1;Persist Security Info=True;Username=jonhcervera"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>